
    <!-- <input type="text" [(ngModel)]="user.name" placeholder="enter your name"/>Enter Name
    <input type="text" [(ngModel)]="user.age"  placeholder="enter your age"/>Enter age
    <button type="button" (click)="save()">Submit</button> -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink='search'>Search Book</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink='signup'>Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink='signin'>Signin</a>
          </li>
          </ul>

          <h1>Welcome to Digital Books</h1>